<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HELLO CALENDAR</title>

    <!-- favicon -->
    <link rel="icon" type="image/png" href="../static/img/favicon.png" />

    <!-- css: layout -->
    <link rel="stylesheet" href="../static/css/layout.css" />

    <!-- css: calendar -->
    <link rel="stylesheet" href="../static/css/calendar.css" />

    <!-- css: todolist -->
    <link rel="stylesheet" href="../static/css/todolist.css" />
    <link rel="stylesheet" href="../static/css/todo.css" />

    <!-- css : mediaQuery -->
    <link rel="stylesheet" href="../static/css/mediaQuery.css" />
    <!-- css: shortcut -->
    <link rel="stylesheet" href="../static/css/shortcut.css" />

    <!-- Google icon : setting, add, stop, edit -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <!-- 한국어 font: IBM Plex Sans, 프리텐다 -->
    <!--눈누 폰트는 헤더에 안 들어감-->

    <!-- 영어 font: Maven Pro, Noto Sans, Amiko -->
    <link
      href="https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&family=Maven+Pro:wght@400;500;600&family=Noto+Sans:wght@300;400;500&display=swap"
      rel="stylesheet"
    />

    <!-- 제이쿼리 CDN -->
    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"
    ></script>

    <!-- Axios CDN -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <!-- header: 바로가기, 로고, 설명서, 로그인-->
    <header>
      <nav>
        <!-- 다크모드 버튼 -->
        <button class="btn-toggle">
          <img
            src="../static/img/day-and-night.png"
            alt="다크모드 이미지"
            title="다크모드 실행"
          />
        </button>

        <div class="flex_space"></div>

        <!-- Logo + change username-->

        <div class="headerContent">
          <% if(isLogin){ %>
          <div id="nav_user_info">
            <h3 class="userName">
              <%=name%>님<img
                src="../static/img/down.png"
                class="toggleImg"
                alt="toggleImg"
              />
            </h3>
            <div class="userEmail"><%=email%></div>
            <h3 id="logout" class="toggle hide">로그아웃</h3>
          </div>
          <% }else{ %>
          <h3><a href="/login/signup">회원가입</a></h3>
          <h3 class="headerLogin"><a href="/login">로그인</a></h3>
          <% } %>
        </div>
      </nav>
      <div class="logo">
        <% if(isLogin){ %>
        <h3 class="headerLogo">HELLO <%=name%>!</h3>
        <% }else{ %>
        <h3 class="headerLogo">HELLO CALENDAR</h3>
        <% } %>
      </div>
    </header>

    <main>
      <!-- 검색바 -->
      <div id="home_tools">
        <div class="searchBar">
          <input type="text" id="search_text" placeholder="Google" autofocus />
          <button id="search_btn">Search</button>
        </div>
        <!-- 링크 -->
        <div id="shortcut">
          <div class="shortcuts add_btn">
            <span class="material-symbols-outlined">add</span>
          </div>
          <div class="shortcuts setting_btn">
            <span class="material-symbols-outlined">settings</span>
          </div>
        </div>
      </div>

      <!-- 캘린더: 새 버전-->
      <div class="calendarRap">
        <div class="scheduleContent">
          <div class="dayWrap">
            <div id="nowDay" class="nowDay"></div>
            <div id="nowDate" class="nowDate"></div>
          </div>
          <div class="scheculeWrap">
            <div class="scheduleTitle">
              <span class="material-symbols-outlined">add</span>
              <span>일정추가하기</span>
            </div>
            <div class="inputWrap">
              <input
                type="text"
                placeholder="write here"
                id="input"
                class="input"
              />
              <button type="button" id="inputBtn" class="inputBtn">등록</button>
            </div>
            <div id="listcontents" class="listcontents"></div>
          </div>
        </div>
        <div class="calendarContent">
          <div class="calendarHeader">
            <div class="calendarBtn calPrevDay"></div>
            <h2 class="dateTitle"></h2>
            <div class="calendarBtn nextDay"></div>
          </div>

          <div class="grid dateHead">
            <div class="dateHeadSun">SUN</div>
            <div>MON</div>
            <div>TUE</div>
            <div>WED</div>
            <div>THU</div>
            <div>FRI</div>
            <div class="dateHeadSat">SAT</div>
          </div>

          <div class="grid dateBoard"></div>
        </div>
      </div>
    </main>

    <!-- TodoList -->
    <div class="todoTabs">
      <button class="openTabBtn inputBtn" onclick="openTodo();">to<br>do</button>

      <div class="todoTab todoTabBusiness noshow">
        <button class="closeTabBtn inputBtn" onclick="cloesTodo();">X</button>
        <table class="table">
          <thead>
            <tr>
              <th>공/사</th>
              <th>우선순위</th>
              <th>todo</th>
            </tr>
          </thead>
          <tbody name="">

            <% for (let i = 0; i < data.length; i++) { %>
              <% let cnt = 0; %>

              <tr id="tr_<%= data[i].id %>" 
                class="<%= (data[i].complete ? 'complete' : '')%> row">
                
                <!-- 공적 -->
                <% if(!data[i].business){ %><td>🎈</td>
                  <% }else {%> <td>💼</td>
                <% } %>
          
                
                <td><% if(data[i].priority==3){ %>⭐⭐⭐
              <% }else if(data[i].priority==2){ %>⭐⭐
              <% }else { %>⭐  
              <% } %></td>

                <td><%= data[i].task %></td>
                <td><button type="button" class="btnComplete 
                  " onclick="complete('<%= data[i].id %>')"><%= data[i].complete ? '취소' : '완료' %></button></td> 
                <td><button type="button" class="btnDelete" onclick="todoDelete(this, '<%= data[i].id %>')">삭제</button></td>
              </tr>

            <% } %>
              
            

        </tbody>
        
        </table>
        <% if(data.length > 5){ %> <span>and more...</span>
          <% } %>
        <a href="/todo">todo 전체보기</a>
      </div>

      <!-- <div class="todoTab todoTabPrivate">

      <img src="/static/img/briefcase.png" class="businessImg" />
      <div class="todoTab todoTabPrivate noshow">
        <table class="table">
          <thead>
            <tr>
              <th>사적</th>
              <th>우선순위</th>
              <th>todo</th>
            </tr>
          </thead>
          
        </table>
        <a href="/todo">...todo 전체보기</a>
      </div>
    </div> -->
    <div id="forms">
      <div class="link_add hide">
        <h3>바로가기 추가</h3>
        <hr />
        <input type="text" class="linkName" placeholder="Name" required /><br />
        <input
          type="text"
          class="linkUrl"
          placeholder="URL"
          max="199"
          required
        /><br />
        <div class="buttons">
          <button type="button" class="submit">추가</button>
          <button type="button" class="close">닫기</button>
        </div>
      </div>
      <div class="link_setting hide">
        <h3>바로가기링크</h3>
        <hr />
        <div class="links"></div>
        <div class="buttons">
          <button type="button" class="close">닫기</button>
        </div>
      </div>
      <div class="calendar_add hide">
        <h3>일정추가</h3>
        <hr />
        시작:
        <input
          type="date"
          max="2099-01-01"
          min="1970-01-01"
          class="startDate"
        /><br />
        종료:
        <input
          type="date"
          max="2099-01-01"
          min="1970-01-01"
          class="endDate"
        /><br />
        <input
          type="text"
          class="calendarName"
          required
          placeholder="Name"
        /><br />
        <input type="text" class="calendarDetail" required placeholder="memo" />
        <div class="buttons">
          <button type="button" class="submit">추가</button>
          <button type="button" class="close">닫기</button>
        </div>
      </div>
      <div class="hide editCalendar">
        <h3>일정 삭제,수정</h3>
        <hr />
        시작:
        <input
          type="date"
          max="2099-01-01"
          min="1970-01-01"
          class="startDate"
        /><br />
        종료:
        <input
          type="date"
          max="2099-01-01"
          min="1970-01-01"
          class="endDate"
        /><br />
        <input
          type="text"
          class="calendarName"
          required
          placeholder="Name"
        /><br />
        <input type="text" class="calendarDetail" required placeholder="memo" />
        <div class="hide" id="calendarTargetKey"></div>
        <div class="buttons">
          <button type="button" class="edit">수정</button>
          <button type="button" class="remove">삭제</button>
          <button type="button" class="close">닫기</button>
        </div>
      </div>
    </div>

    <!-- JS: calendar -->
    <script src="../static/js/calendar.js"></script>

    <!-- JS: index -->
    <script src="../static/js/index.js"></script>

    <!-- JS: shortcut -->
    <script src="../static/js/shortcut.js"></script>

    <!-- ToDo 기능 구현 내용 -->

    <script src="../static/js/todo.js"></script>
	  <!-- <script src="../static/js/todo.js"></script>	 -->

    <!-- JS: darkmode -->
    <script src="../static/js/darkmode.js"></script>
    <script>

      const todoTab = document.querySelector('.todoTabBusiness');
      const openBtn = document.querySelector('.openTabBtn');
      const closeBtn = document.querySelector('.closeTabBtn');


      function cloesTodo() {
        todoTab.classList.add("noshow");
        openBtn.classList.remove("noshow");

      }
      function openTodo() {
        todoTab.classList.remove("noshow");
        openBtn.classList.add("noshow");

      }
    </script>
  </body>
</html>
