<!DOCTYPE html>
<html>
	<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>todo페이지</title>
    <!-- favicon -->
    <link rel="icon" type="image/png" href="../static/img/favicon.png" />
    <!-- css: layout -->
    <link rel="stylesheet" href="../static/css/layout.css" />
    <!-- css: calendar -->
    <link rel="stylesheet" href="../static/css/calendar.css" />
    <!-- css: todolist -->
    <link rel="stylesheet" href="../static/css/todolist.css" />
    <link rel="stylesheet" href="../static/css/todo.css" />
		<!-- 스크롤 넣어야 -->
    <link rel="stylesheet" href="../##" />
		<style>
			body{
				text-align: center;
				/* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
	width: 80vh;
	margin: 0 auto;
			}
			.todoTable{
				text-align: center;
				display: table;
    margin-left: auto;
    margin-right: auto;
			}
		</style>
    <!-- 한국어 font: IBM Plex Sans, 프리텐다 -->
    <!--눈누 폰트는 헤더에 안 들어감-->
    <!-- 영어 font: Maven Pro, Noto Sans, Amiko -->
    <link
      href="https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&family=Maven+Pro:wght@400;500;600&family=Noto+Sans:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <!-- 제이쿼리 CDN -->
    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"
    ></script>

		<!-- Axios CDN -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	</head>
	<body>
		<a class="deleteUnderline" href="/"><h3 class="headerLogo">HELLO CALENDAR</h3></a>
		<h3 class=""><%= title %></h3>
		<fieldset class="formBox">
		<legend>Welcome <%= name %></legend>
		<form class="todoForm" name="todoForm">
			<div class="inputGroup">
				<span class="priorityBox">우선순위
					<input type="radio" name="'priority" id="priority" value="1" checked>1</input>
					<input type="radio" name="'priority" id="priority" value="2">2</input>
					<input type="radio" name="'priority" id="priority" value="3">3</input>
				</span>
					<input type="checkbox" name="'business" id="business">공적인 일</input>
				<br>
				시작<input type="date" class="form-control" id="startline" max="<%= nowDate %>">
				~끝<input type="date" class="form-control" id="deadline" min="<%= nowDate %>">
				<input type="text" class="formElement" id="task" name="task" placeholder="새로운 할 일">
				<button type="button" class="todoSubmit" maxlength="199" minlength="1" onclick="todoSubmit(); location.reload(true);">등록</button>
			</div>
		</form>
		</fieldset>
		<table class="todoTable" border="0">	<!-- ToDo 목록 -->
			<thead>
				<tr>
					<th>사적/공적</th>
					<th>우선순위</th>
					<th>시작날짜</th>
					<th>마감날짜</th>
					<th>내용</th>
					<th>완료</th>
					<th>삭제</th>
				</tr>
			</thead>
			<tbody name="">
					<% for (let i = 0; i < data.length; i++) { %>
						<tr id="tr_<%= data[i].id %>" 
							class="<%= (data[i].complete ? 'complete' : '')%> row">
							
							<!-- 1번 -->
							<% if(!data[i].business){ %><td>사적</td>
								<% }else {%> <td>공적</td>
							<% } %>
							<td><%= data[i].priority %></td>
							<td><%= data[i].startline %></td>
							<td><%= data[i].deadline %></td>
							<td><%= data[i].task %></td>
							<td><button type="button" class="btnComplete 
								" onclick="complete('<%= data[i].id %>')"><%= data[i].complete ? '취소' : '완료' %></button></td> 
							<td><button type="button" class="btnDelete" onclick="todoDelete(this, '<%= data[i].id %>')">삭제</button></td>
						</tr>
					<% } %>
			</tbody>
		</table>
	</body>
	
    <!-- JS: index -->
	<!-- <script src="../static/js/index.js"></script> -->
	<!-- JS: shortcut -->
	<!-- <script src="../static/js/shortcut.js"></script> -->
	<!-- JS: calendar -->
	<!-- <script src="../static/js/calendar.js"></script> -->
	<!-- ToDo 기능 구현 내용 -->
	<script src="../static/js/nowDate.js"></script>

	<script src="../static/js/todo.js"></script>	

</html>